lib
instagram_client_id.txt
instagram_client_secret.txt
oneself_client_id.txt
oneself_client_secret.txt
session_secret.txt
app_cookie_name.txt
instagram_client_id_local.txt
instagram_client_secret_local.txt
*.pyc
.env
