ansible==2.0.0.2
ansible-lint==2.3.8
boto==2.39.0
ecdsa==0.13
Flask==0.10.1
git-remote-helpers==0.1.0
httplib2==0.9.1
isodate==0.5.4
itsdangerous==0.24
Jinja2==2.7.3
lxml==3.4.0
MarkupSafe==0.23
mercurial==3.4
mitmproxy==0.10.1
netlib==0.10.1
paramiko==1.16.0
Pillow==2.3.2
pyasn1==0.1.7
pycrypto==2.6.1
-e git+git@github.com:1self/python-instagram.git@6522cffe19065d456ceb0d10b0cd1a13c5026380#egg=python_instagram
pywinrm==0.1.1
PyYAML==3.11
simplejson==3.7.1
six==1.9.0
urwid==1.2.2
vboxapi==1.0
virtualenv==12.1.1
Werkzeug==0.9.6
wheel==0.26.0
xmltodict==0.10.1
youtube-dl==2016.6.3
